.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  margin: auto;
  text-align: center;
}
h3 {
  margin: 0px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
